.custom-select {
  position: relative;
  width: 100%;
  left: -9px;
  max-width: 404px;
  font-family: inherit;
  display: flex;
  flex-direction: column;
}

.custom-select-button {
    height: 50px;

    display: flex;
    align-items: center;        /* centro vertical */
    justify-content: center;    /* centro horizontal */

    text-align: center;
}


/* BOTÃO */
.select-trigger {
  width: 100%;
  height: 50px;
  background: #050508;
  border: 2px solid #2a0000;
  border-radius: 12px;
  color: white;
  padding: 0 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.25s ease;
}

.select-trigger:hover {
  border-color: red;
}

.select-trigger:focus {
  outline: none;
  border-color: red;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.6);
}

/* SETA */
.arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.custom-select.open .arrow {
  transform: rotate(-135deg);
}

/* DROPDOWN */
.select-options {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #050508;
  border: 2px solid red;
  border-radius: 12px;
  list-style: none;
  padding: 6px;
  margin: 0;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.25s ease;
  z-index: 10;
}

.custom-select.open .select-options {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* OPÇÕES */
.select-options li {
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.select-options li:hover {
  background: rgba(255, 0, 0, 0.25);
}

.select-options li.selected {
  background: rgba(255, 0, 0, 0.45);
}
